.system-status-general-info__item:nth-child(1),
.system-status-general-info__item:nth-child(2),
.system-status-general-info__item:nth-child(3),
.system-status-general-info__item:nth-child(4),
.system-status-general-info__item:nth-child(5),
.system-status-general-info__item:nth-child(6) {
  border-left: 1px solid #ccc;
  flex: 1 !important;
  flex-basis: 100% !important;
  width: 100% !important;
}

@media screen and (min-width: 768px) {
  .system-status-general-info__item:nth-child(1),
  .system-status-general-info__item:nth-child(2),
  .system-status-general-info__item:nth-child(3),
  .system-status-general-info__item:nth-child(4),
  .system-status-general-info__item:nth-child(5),
  .system-status-general-info__item:nth-child(6) {
    border-left: 1px solid #ccc;
    flex: 1 !important;
    flex-basis: 47% !important;
    width: 47% !important;
  }
}

@media screen and (min-width: 1200px) {
  .system-status-general-info__item:nth-child(1),
  .system-status-general-info__item:nth-child(2),
  .system-status-general-info__item:nth-child(3),
  .system-status-general-info__item:nth-child(4),
  .system-status-general-info__item:nth-child(5),
  .system-status-general-info__item:nth-child(6) {
    border-left: 1px solid #ccc;
    flex: 1 !important;
    flex-basis: 33% !important;
    width: 33% !important;
  }
}
